/**
.background{
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
}*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Orbitron:wght@500&display=swap');


.Brand-Name{
  width: 125px;
}


main{
  background-image: url(./Assets/bg.jpg);
  background-size: cover;
  background-position: center ;
}


.About{
  font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Orbitron', sans-serif;
background-image: url(./Assets/light_dot.jpg);



}


.BackgroundAbout{
  font-size: 100px;
  opacity: 20%;

}
#Services-Container{
  background-image: url(./Assets/dark_dot.jpg);
  background-size: cover cover;

}

#SERVICES{
  font-size: 100px;
  opacity: 20%;

}

